body {
  font-family:'Quicksand';
  -webkit-font-smoothing: antialiased !important;
  position: relative;
  width: 100%;
  height: 100%;
}

.app-body {
  position:absolute;
  width:100vw;
  height:100%;
}

.app-nav {
  position: relative;
  width: 100%;
}

.navbar {
  position:absolute;
  top:0;
  width:100vw;
  margin-bottom: 0;
  z-index:10;
}

.create-family-show {
  top: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.create-family-hidden {
  top: -50%;
  display: none;
  opacity: 0;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.app-main, .app-main-full {
  top:0;
  position: absolute;
  left: 0;
  padding: 40px 0 20px 0;
  transition: width .3s ease-in-out;
  overflow-y:auto;
  height: 100%;
}

.app-main {
  width: 70vw;
}

.app-main-full {
  width: 100vw;
}

.heightManager {
  position:absolute;
  height:calc(100vh - 52px);
  width:100vw;
  margin-top:52px;
}

.color-family, .color-family h4 {
  cursor:pointer;
}

@media (max-width: 767px) {
  .heightManager.loggedIn {
    height:calc(100vh - 195px);
    margin-top:195px;
  }
  .heightManager.guest {
    height:calc(100vh - 147px);
    margin-top:147px;
  }
  .app-sidebar {
    display:none;
  }
  .app-main {
    width:100vw;
  }
  .color-family, .color-family h4 {
    cursor:default;
  }
}

.app-sidebar {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 100%;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
  top:0px;
  overflow-y:auto;
}

.app-sidebar .sidebar-scrollable {
  height: 100%;
  overflow-y: auto;
  padding:48px 30px 30px 30px;;
}

.sidebar-content {
  top:0;
}

.app-sidebar-hidden {
  position: absolute;
  right: -30%;
  width: 30%;
  height: 100%;
  padding-top: 80px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}

.color-single h4 {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  cursor:default;
}

.color-family-info {
  margin-top: 20px;
}

.color-family-info .tooltip-inner {
  cursor:default;
}

.color-family-info > ul {
  padding-left:0px;
}

.tooltip-inner {
  padding: 3px 4px;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

.buttonRow {
  padding-top:10px;
  height:50px;
  width: 100%;

  padding-left:20%;
  padding-right:20%;
  display:inline-block;
  justify-content: flex-end;
}

.swatchEditor {

  padding-left:0;
  padding-right:0;
}

.swatch {
  height: 100%;
  width: 100%;
  padding-bottom: 20%;
  padding-left:0;
  padding-right:0;
}

.swatchinput {
  width:95%;
  margin: 0 auto;
}
.nameForm {
  bottom: 30%;
  left:45%;
  position:absolute;
}

.nameForm button {
  margin-left:35px;
}

.editorWrapper {
  display:flex;
  width:90%;
  padding-left:8.25%;
  position:relative;
}

.controlWrapper {
  padding-top:20px;
}

.swatchWrapper {
  display:flex;
  width:90%;
  height:auto;
  padding-left:8.25%;
  position:relative;
}

#registerForm, #loginForm {
  padding-top:64px;
}

.form-control {
  height: 36px; /* need to add this so that the font awesome icons are lined up */
}

#registerForm button, #loginForm button {
  margin: 0 auto;
  display: block;
  padding: 6px 24px;
}

#NotFound {
  text-align: center;
}

.sideBarPreview {
  height:20px;
  width:20px;
  display:inline-block;
  margin-right:4px;
  margin:0;
  padding:0;
}

#profile {
  padding-top:48px;
  padding-left:0px;
  padding-right:0px;
}

#profile ul {
  list-style:none;
  padding:0px;
  margin:0px;
}

#profile h1, #profile h4 {
  text-align:center;
}

#profile > .col-xs-12,
#profile > .col-xs-12 > .col-xs-6 {
  padding-left:0px;
  padding-right:0px;
}

.palette {
  padding:0px;
  cursor:default;
  margin-right:0px;
  margin-left:0px;
  font-size:0px;
}

.swatchPreview {
  padding-left:6px;
  cursor:pointer;
}

.swatchPreview:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

.likeBtn {
  font-size:1.5em;
}
.likeBtn:hover {
  cursor: pointer;
}

.paletteView {
  width: 100%;
  padding-left: 8.25%;
}

.palette {
  position:relative;
  width: 90%;
  height: auto;
}

.palette:hover {
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 767px ) {
  .palette {
    width: 100%;
    padding: 0;
  }
  .paletteView {
  width: 100%;
  padding-left: 0px;
  padding-right:0px;
  }
  .palette > div {
    display:inline-block;
    position:relative;
  }
}

