body {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color:#7f7f7f;*/
}

.app-body {
  position: relative;
  width: 100%;
  height: 100%;

}

.app-nav {
  position: relative;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.create-family-show {
  top: 0;
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.create-family-hidden {
  top: -50%;
  display: none;
  opacity: 0;
  margin-left: 50px;
  margin-right: 50px;
  transition: all .3s ease-in-out;
}

.app-main {
  width: 70%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-main-full {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 80px 0 20px 0;
  transition: width .3s ease-in-out;
}

.app-sidebar {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}
.app-sidebar-hidden {
  position: fixed;
  right: -30%;
  width: 30%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  background-color: #f8f8f8;
  border-left: 1px solid #e7e7e7;
  transition: right .3s ease-in-out;
}

.color-single h4 {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

/*.color-single:hover h4 {
  opacity: 1;
}*/


.color-family-info {
  margin-top: 20px;
}

.tooltip-inner {
  padding: 3px 4px;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .6s ease-in;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
.swatchEditor {
  height:80%;
  width:20%;
}

.swatch {
  min-height:200px;
  min-width:200px;
}

.swatchinput {
  width:100%;
}

.swatchWrapper {
  display:flex;
  width:90%;
  height:300px;
}

#registerForm, #loginForm {
  padding-top:64px;
}

.form-control {
  height: 36px; /* need to add this so that the font awesome icons are lined up */
}

#registerForm button, #loginForm button {
  /*width:80%;
  margin-left:10%;*/
  margin: 0 auto;
  display: block;
  padding: 6px 24px;
}

#NotFound {
  text-align: center;
}

.sideBarPreview {
  height:20px;
  width:20px;
  margin:0;
  padding:0;
}

#profile {
  padding-top:64px;
}

.swatchPreview {
  margin:0;
  padding:0;
}

.swatchPreview:hover {
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}

.likeBtn {
  font-size:1.5em;
}
.likeBtn:hover {
  cursor: pointer;
}

.paletteView {
  width: 100%;
  padding-left: 10%;
  
}

.palette {
  width: 90%;
  height: auto;
}

.palette:hover {
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media (max-width: 767px ) {
  .palette {
    width: 100%;
  }
  .paletteView {
  width: 100%;
  padding-left: 0;
  padding-right:0;
  }
  .palette > div {
    display:inline-block;
    position:relative;
  }
}

